.Stories{
    display: flex;
}
.imgStory{
    width: 60px;
    height: 60px;
    background-color: brown;
    
}
.Story{
    margin: 20px 0 0 20px;
}
.Story:hover{
    opacity: .5;
}
.imgStory img{
    width: 100%;
    height: auto;
    border-radius:40px ;
}
.imgStory img:hover{
    opacity: .5;
}
.nomeStory{
    text-align: center;
    font-size: 11px;
}