.Stories{
   max-width: 850px;
    background-color: #fbfbfb;;
    height: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-left:13%;
    margin-top: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
.buttons{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    margin: 80px  0  0  130px;
}
.Stories::-webkit-scrollbar{
    display: none;
}
.buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 21px;
    margin-right: 700px;
}
.buttons button:nth-child(2) svg{
    transform: rotate(180deg); 
}